<div 
> <p>In this part of the task, the first word of each pair will appear on the screen.<br>
Your job is to type the second word, and then press the <strong>ENTER</strong> key.<br>
You have several seconds to complete each pair.<br><br>
There is no penalty for guessing, but please try to answer<br>
as quickly and accurately as you can.<br>
if you cannot think of the word,<br>
you may press the <strong>ENTER</strong> key to go to the next question.<br>
</p>
<p><strong>Press NEXT to continue</strong></p></div>

<div class="next_btn_wrap">
       <button class="next_btn_fix" 
       [routerLink]="['/input-one']" href="">Next</button>
</div>
