/* Define styles for the 404 page */
.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Ensures the container takes up the full viewport height */
  }
  
  .error-header {
    font-size: 24px;
    color: red;
  }
  
  .error-message {
    font-size: 18px;
    color: #333;
  }
  