<div class="message-format" [hidden]="hideMessage">
    <p>You will be presented with a list of word pairs, one pair at a time.<br>
        Please think about and remember the words as a pair, and try to memorize as many word pairs as possible.<br>
        No response is required in this first part of the experiment.<br>
    </p>
    <!-- <p><strong>Press the SPACE bar to continue</strong></p> -->
    <nav>
        <a class="continue_btn" [routerLink]="['/word-associate',listName]">Press the SPACE bar to continue</a>   
    </nav>
</div>
